
button {
    background-color: aqua;
    color: black;
    text-align: center;
    padding: 1rem;
    border: none;
    margin: 0 auto;
}

.red {
    background-color: red;
    color: white;
    padding: 1rem;
    text-align: center;
}